html {
    height: 100%;
}

body {
    padding-top: 80px;
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
    font-family: appFont,Arial,sans-serif;
    background: #F0F0F0;
}

i {
    margin-right: 5px;
}

a:hover {
    img {
        opacity: 0.8;
    }
}

#content {
    padding-bottom: 55px;
}

@media (max-width: 750px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

ul, ol {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.toggle-library {
    position: absolute;
    bottom: 4px;
    right: 3px;
    z-index: 3;

    .owned {
        color: #FC2203;
    }

    .btn {
        box-shadow: 0px 6px 1px -5px #FB6051 inset;
        @include button-variant(#FFFFFF, #e24738, #cc2b1f);
        height: 23px;
        padding: 3px 6px 4px;
        vertical-align: top;
    }

    span {
        display: block;
    }
}

.align-right {
    text-align: right;
}

#filter {
    @include gradient-vertical(#eeeeee, #dddddd);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 5px 32px 5px 5px;
    min-height: 45px;
    margin-bottom: 5px;

    .form-group {
        width: 190px;
        margin-left: 25px;
        margin-bottom: 0;
    }

    .checkbox-group {
        margin-left: 25px;
    }

    select {
        width: 190px;
    }
}