# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
bower_components

# Intellij
/.idea

# Misc
/.dist
/.sass-cache
/scss/bootstrap
/public/js/libraries/bower
/public/css/bootstrap*
/public/css/highlight.min*
/public/css/jquery*
/public/css/ui-lightness
/public/css/structure*
/public/css/font-awe*
/public/fonts/FontAwesome*
/public/fonts/fontawesome*
/public/fonts/glyph*
/public/js/dist