nav.navbar.navbar-inverse.navbar-fixed-top
    #alert-container.container
        .navbar-header
            a.navbar-brand(href='/') King.com
            button.navbar-toggle(data-target='.navbar-collapse', data-toggle='collapse', type='button')
                span.sr-only= t('app.nav.toggle_nav')
                span.icon-bar
                span.icon-bar
                span.icon-bar
        nav.collapse.navbar-collapse.navbar-inverse-collapse(role='navigation')
            ul.nav.navbar-nav
                li
                    a(href='/')
                        i.fa.fa-gamepad
                        = t('app.nav.games')
                li
                    a(href='/library')
                        i.fa.fa-folder
                        = t('app.nav.library')