.footer-bg
    .container
        .row
            .col-xs-12
                ul.list-inline
                    each name, code in languages
                        li
                            a(href='../' + code)= name