nav.navbar.navbar-inverse.navbar-fixed-top
    - var home = fileExt? 'index' : '/'
    .navbar-background
        #alert-container.container
            .navbar-header
                a.navbar-brand(href=home + fileExt)
                    #logo
                button.navbar-toggle(data-target='.navbar-collapse', data-toggle='collapse', type='button')
                    span.sr-only= t('app.nav.toggle_nav')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            nav.collapse.navbar-collapse.navbar-inverse-collapse(role='navigation')
                ul.nav.navbar-nav.navbar-right
                    li(class='{?inLibrary}active{/inLibrary}')
                        a(href=rel + 'library' + fileExt)
                            | {?inLibrary}
                            i.fa.fa-folder-open
                            | {:else}
                            i.fa.fa-folder
                            | {/inLibrary}
                            = t('app.nav.library') + ' '
                            span#count {?count}({count}){/count}