extends ../includes/menu

block libraryMenu
    li(class='{?inLibrary}active{/inLibrary}')
        a(href=rel + 'library' + fileExt)
            | {?inLibrary}
            i.fa.fa-folder-open
            | {:else}
            i.fa.fa-folder
            | {/inLibrary}
            = t('app.nav.library') + ' '
            span#count {?count}({count}){/count}