extends layouts/default

block main
    #game-detail
        .row
            .col-xs-12(style='background-image:url(http://i2.midasplayer.com/images/games/' + game.short + '/tournamentPage/' + game.short + '_764x260.jpg)')
                .page-header
                    h1= game.name
                .page-content
                    if game.description
                        p!=game.description
                        if game.playBtn
                            a.btn.btn-success.btn-lg(href='http://www.royalgames.com' + game.playBtn,target='_blank') Play
                        else
                            a.btn.btn-success.btn-lg(href='http://www.royalgames.com' + game.signupBtn,target='_blank') Signup