extends layouts/default
block activeMenu
    - var homeClass = 'active'

block main
    #games-list
        .row
            each game in games
                .game.col-xs-6.col-sm-3.col-md-2
                    .panel.panel-default
                        .panel-heading= game.name
                        .panel-body
                            a(href=rel + game.short + fileExt)
                                img(src='http://i1.midasplayer.com/images/games/' + game.short + '/' + game.short + '_170x80.gif')