extends layouts/default
block activeMenu
    - var libraryClass = 'active'

block main
    #library-list
        .row
            .col-xs-12
                .page-content
                    h3= t('app.generic.oops')
                    p!= t('app.library.empty')