script#tpl_footer(type="text/html",class="dust-template")
	include templates/tpl_footer 
 
script#tpl_games_list(type="text/html",class="dust-template")
	include templates/tpl_games_list 
 
script#tpl_game_info(type="text/html",class="dust-template")
	include templates/tpl_game_info 
 
script#tpl_header(type="text/html",class="dust-template")
	include templates/tpl_header 
 
script#tpl_library_list(type="text/html",class="dust-template")
	include templates/tpl_library_list 
 
