doctype html
html(lang='#{lang}')
    include ../includes/header
    body#body
        header#header
            include ../templates/tpl_header
        block container
            section#content.container
                block main
        footer#footer
            include ../templates/tpl_footer
        #scripts
            block footer
                include ../includes/footer
            block loaderscript
                include ../includes/client